@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    background-color: #EDF3F8;
}

.about__h1-style{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #36536b;
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    width: 327px;
    margin: auto;
    box-sizing: border-box;
}
.about__h2-style{
    display: flex;
    justify-content: center;
    color: #36536b;
    font-family: "DM Serif Display", serif;
    font-size: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.about__p-style{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #6c8294;
    font-family:  "Public Sans", sans-serif;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.teams__members-style{
    border-bottom: 1px solid rgba(108, 130, 148, 0.25);
    border-top: 1px solid rgba(108, 130, 148, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 17px;
}
.text__style1{
    font-family:  "Public Sans", sans-serif;
    color: #6c8294;
    line-height: 72px;
}
.text__style2{
    color: #BA4270;
    font-family: "DM Serif Display", serif;
    font-size: 56px;
    text-align: center;
    letter-spacing: -0.28px;
    opacity: 1;
    margin: 0px;
    line-height: 36px;
}
.img__style{
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
}
.bigcircle{
    display: none;
}
@media screen and (min-width: 768px){
    .about__h1-style{
        align-items: center;
        width: 573px;
        margin: auto;
        font-size: 48px;
    }
    .about__tablet-desctop-style{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        margin-top: 48px;
    }
    .about__h2-style{
        width: 30%;
        padding: 0;
        padding-left: 39px;
    }
    .about__p-style{
        text-align: justify;
        width: 70%;
        padding: 0;
        padding-right: 40px;
    }
    .teams__members-style{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 10px;
        margin-left: 39px;
        margin-right: 40px;
    }
    .line__style{
        border-bottom: 1px solid rgba(108, 130, 148, 0.25);
        border-top: 1px solid rgba(108, 130, 148, 0.25);
        width: 100%;
    }
    .text__style1{
        text-align: left;
        margin: 0;
        line-height: 28px;
        padding-top: 17px;
        padding-bottom: 23px;
    }
    .text__style2{
        line-height: 72px;
        text-align: left;
        
    }
    .img__style{
        width: 100%;
        margin-top: 51.5px;
    }
    .img__style{
        content: url(/assets/images/about/tablet/image-team-members.jpg);
    }
}
@media screen and (min-width: 1440px){
    .about__h1-style{
        width: 730px;
        margin: auto;
        font-size: 56px;
        text-align: left;
        line-height: 56px;
        margin-left: 260px;
    }
    .about__tablet-desctop-style{
        display: flex;
        flex-direction: row;
        margin-left: 260px;
        margin-right: 260px;
        margin-top: 53px;
    }
    .about__h2-style{
        width: 30%;
        gap: 30px;
        display: flex;
        justify-content: start;
        text-align: left;
        color: #36536b;
        font-size: 32px;
        line-height: 40px;
        padding-left: 0;
        padding-right: 0;
    }
    .about__p-style{
        text-align: justify;
        width: 70%;
        line-height: 28px;
    }
    .img__style{
        content: url(/assets/images/about/desktop/image-team-members.jpg);
    }
    .teams__members-style{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 30px;
        margin-left: 165px;
        margin-right: 165px;
    }
    .bigcircle{
        display: block;
        position: absolute;
        left: -35rem;
        /* top: 17vh; */
        top: 22rem;
        z-index: -1;
    }
    
}
/* @media screen and (min-width: 1440px) {
    .teams__members-style{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 30px;
        margin-left: 165px;
        margin-right: 165px;
    }
    .about__h1-style{
        padding-left: 260px;
        padding-right: 260px;
    }
    .about__h1-style{
        padding-left: 260px;
        padding-right: 450px;
    }
    .bigcircle{
        display: block;
        position: absolute;
        left: -35rem;
        top: 12.5rem;
        z-index: -1;
    }
} */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #1b262f;
    gap: 40px;
    padding-top: 41px;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 50% 188px;
}

.footer_social-media__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 41px;
}

.logo-footer {
    align-self: center;
    margin-right: 10px;
    width: 135px;
    height: 38px;
}

.footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}

.footer-hyperlinks:hover {
  color: #ffffff;
}

.footer-socials {
  filter: none;
}

.footer-socials:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%) hue-rotate(297deg) brightness(93%) contrast(82%);;
}