@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #EDF3F8;
}

.contact-page-header {
    margin-left: 165px;
    margin-top: 80px;
    width: 730px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    line-height: 56px;
    color: #36536B;
}

.table_size__style{
    width: 327px;
    height: 40px;
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: 25px;
    text-align: left;
    font: normal normal 200 15px/25px Public Sans;
    letter-spacing: -0.12px;
    color: #36536B;
    opacity: 0.5;

}

.checkbox__style{
    margin-top: 24px;
}

.submit__style{
    margin-top: 32px;
}

@media screen and (min-width: 375px) {
  .mobile__nav {
    display: flex;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #1b262f;
    gap: 44px;
    padding-top: 46.29px;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 50% 192px;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 55px;
    margin-right: 0;
  }

  .logo-footer {
    margin-right: 10px;
    margin-bottom: 11.97px;
    width: 135px;
    height: 38px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
  }

  .footer-twitter {
    filter: none;
    margin-top: 2.25px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}

@media screen and (min-width: 768px) {
    .contact-icons__grid {
        display: grid;
        place-items: center;
        justify-content: right;
        margin-right: 18%;
        gap: 40px 61px;
        grid-template-rows: 20px 60px 20px;
        grid-template-columns: 170px 70px 170px;
        margin-bottom: 10%;
        margin-top: 20px;
    }
    
    #big {
        display:inline-block;
    }

    #small {
        display: none;
    }

    h2 {
        color: #647b8e;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        place-self: center start;
        margin-right: 30px;
    }

    .microsoft-size {
        height: 31px;
        width: 146px;
    }

    .tesla-size {
        height: 17px;
        width: 130px;
    }

    .grid_align-left {
        place-self: center start;
    }

    .hp-size {
        height: 27px;
        width: 141px;
    }

    .grid_align-right {
        place-self: center end;
    }

    .oracle-size {
        height: 17px;
        width: 132px;
    }

    .google-size {
        height: 33px;
        width: 97px;
    }

    .nvidia-size {
        height: 26px;
        width: 138px;
    }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b262f;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 385px 20%;
    padding-top: 41px;
    padding-bottom: 0;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 40px;
    gap: 24px;
  }

  .logo-footer {
    width: 135px;
    height: 38px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 39.76px;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
    margin-top: 7px;
  }

  .footer-twitter {
    filter: none;
    margin-top: 8.5px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}

@media screen and (max-width: 768px) {
    .contact-page-header {
        margin-top: 80px;
        font-size: 48px;
        line-height: 56px;
        margin-left: 97px;
        margin-right: 98px;
        max-width: 573px;
        max-height: 178px;
        text-align: center;
    }

    .contact-icons__grid {
        display: grid;
        place-items: center;
        justify-content: center;
        gap: 40px 100px;
        grid-template-rows: 35px 45px 45px;
        grid-template-columns: 120px 45px 120px;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 0;
    }

    h2 {
        text-align: center;
        color: #647b8e;
        grid-column-start: 1;
        grid-column-end: 4;
        place-self: center;
    }

    #big {
        display: none;
    }

    #small {
        display: inline-block;
    }

    .microsoft-size {
        height: 31px;
        width: 146px;
    }

    .tesla-size {
        height: 17px;
        width: 130px;
    }

    .hp-size {
        height: 27px;
        width: 141px;
    }

    .oracle-size {
        height: 17px;
        width: 132px;
    }

    .google-size {
        height: 33px;
        width: 97px;
    }

    .nvidia-size {
        height: 26px;
        width: 138px;
    }
}

@media screen and (max-width: 480px) {
    .contact-page-header {
        margin-top: 60px;
        font-size: 32px;
        line-height: 36px;
        margin-left: 24px;
        margin-right: 24px;
        max-width: 327px;
        max-height: 116px;
        text-align: center;
    }

    .contact-icons__grid {
        display: grid;
        place-items: center;
        justify-content: center;
        gap: 45px 90px;
        grid-template-rows: 80px 20px 20px 20px;
        grid-template-columns: 97px 97px;
        margin-top: 40px;
        margin-bottom: 0;
        margin-left: 0;
    }

    h2 {
        text-align: center;
        color: #647b8e;
        grid-column-start: 1;
        grid-column-end: 3;
        place-self: center;
    }
    
    #big {
        display: none;
    }

    #small {
        display: inline-block;
    }

    .microsoft-size {
        height: 26px;
        width: 120px;
    }

    .tesla-size {
        height: 14px;
        width: 106px;
    }

    .hp-size {
        height: 22px;
        width: 115px;
    }

    .oracle-size {
        height: 14px;
        width: 108px;
    }

    .google-size {
        height: 27px;
        width: 79px;
    }

    .nvidia-size {
        height: 21px;
        width: 113px;
    }
}