@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #EDF3F8;
}

/* */

.contact-page-header {
    margin-left: 165px;
    margin-top: 80px;
    width: 730px;

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    line-height: 56px;
    color: #36536B;
}

@media screen and (max-width: 768px) {
    .contact-page-header {
        margin-top: 80px;
        font-size: 48px;
        line-height: 56px;
        margin-left: 97px;
        margin-right: 98px;
        max-width: 573px;
        max-height: 178px;
        text-align: center;
    }
    h2 {
    text-align: center;
    margin-bottom: 32px;
    color: #647b8e;
    margin-block: 40px;
    margin-inline: 17%;
    }
    .contact-icons__grid {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 65% 18%;
    grid-template-rows: 30% 30%;
    grid-template-columns: 15% 10% 15%;
    margin-bottom: 10%;
    }
    .microsoft-size {
    height: 31px;
    width: 146px;
    }

    .tesla-size {
        height: 17px;
        width: 130px;
    }

    .hp-size {
        height: 27px;
        width: 141px;
    }

    .oracle-size {
        height: 17px;
        width: 132px;
    }

    .google-size {
        height: 33px;
        width: 97px;
    }

    .nvidia-size {
        height: 26px;
        width: 138px;
    }
}

@media screen and (max-width: 480px) {
    .contact-page-header {
        margin-top: 60px;
        font-size: 32px;
        line-height: 36px;
        margin-left: 24px;
        margin-right: 24px;
        max-width: 327px;
        max-height: 116px;
        text-align: center;
    }
    h2 {
    text-align: center;
    margin-bottom: 32px;
    color: #647b8e;
    margin-block: 24px;
    margin-inline: 11.5%;
    }
    .contact-icons__grid {
    display: grid;
    place-items: center;
    gap: 45px 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
    .microsoft-size {
    height: 26px;
    width: 120px;
    }

    .tesla-size {
        height: 14px;
        width: 106px;
    }

    .hp-size {
        height: 22px;
        width: 115px;
    }

    .oracle-size {
        height: 14px;
        width: 108px;
    }

    .google-size {
        height: 27px;
        width: 79px;
    }

    .nvidia-size {
        height: 21px;
        width: 113px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #1b262f;
    gap: 40px;
    padding-top: 41px;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 50% 188px;
}

.footer_social-media__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 41px;
}

.logo-footer {
    align-self: center;
    margin-right: 10px;
    width: 135px;
    height: 38px;
}

.footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}

.footer-hyperlinks:hover {
  color: #ffffff;
}

.footer-socials {
  filter: none;
}

.footer-socials:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%) hue-rotate(297deg) brightness(93%) contrast(82%);;
}

@media screen and (min-width: 1440px) {
    h2 {
    text-align: left;
    margin-bottom: 32px;
    color: #647b8e;
    margin-block: 40px;
    margin-left: 597px;
    margin-right: 400px;
    }
    .contact-icons__grid {
    display: grid;
    place-items: center;
    justify-content: left;
    margin-left: 600px;
    gap: 80% 18%;
    grid-template-rows: 30% 30%;
    grid-template-columns: 15% 10% 15%;
    margin-bottom: 10%;
    }
    .microsoft-size {
    height: 31px;
    width: 146px;
    }

    .tesla-size {
        height: 17px;
        width: 130px;
    }

    .hp-size {
        height: 27px;
        width: 141px;
    }

    .oracle-size {
        height: 17px;
        width: 132px;
    }

    .google-size {
        height: 33px;
        width: 97px;
    }

    .nvidia-size {
        height: 26px;
        width: 138px;
    }
}