@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #EDF3F8;
}
.circle__backround-style-contact{
  display: flex;
  justify-content: center;
  background-image: url(../images/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: -21% -635px ;
  flex-direction: column;
  justify-content: space-between;
}
.mobile__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 24.76px;
  margin-right: 24px;
  margin-top: 40.76px;
   margin-bottom: 51.47px;
}
.tablet_navigation {
  display: none;
}

.contact-page-header {
    margin-left: 165px;
    margin-top: 80px;
    width: 730px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    line-height: 56px;
    color: #36536B;
}

/*contact_table_start*/

/*Form lenteles stylius*/

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 24px;
  margin-right: 24px;
}

/*Form style*/

input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #7a94ad;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 6px;
  font-size: 15px;
  color: #2c3e50;
}

input::placeholder,
textarea::placeholder {
  text-align: left;
  font: normal normal 200 15px/25px Public Sans;
  letter-spacing: -0.12px;
  color: #36536B;
  opacity: 0.5;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #2c3e50;
}

textarea {
  resize: none;
  height: 80px;
}

/*checkbox style*/

.checkbox-text{
  font: normal normal 200 15px/25px Public Sans;
  letter-spacing: -0.12px;
  font-size: 15px;
  line-height: 25px;
  color: #36536B;
  opacity: 1;
}

.checkbox-row {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-row input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  margin-top: 20px;
  background-color: #36536B40;
}

.checkbox-row:hover input ~ .custom-box {
  background-color: #36536B40;
}

.checkbox-row input:checked ~ .custom-box {
  background-color: #BA4270;
}

.custom-box:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-row input:checked ~ .custom-box:after {
  display: block;
}

.checkbox-row .custom-box:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*button style*/

button {
  width: 152px;
  height: 48px;
  padding-left: 51px;
  padding-bottom: 15px;
  padding-right: 49px;
  padding-top: 16px;
  border-radius: 24px;
  border: 1px solid #36536B;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: -0.12px;
  text-align: center;
  opacity: 1;
  line-height: 17px;
  color: #36536B;
}

button:hover {
  background: #36536B;
  color: white;
}

/*contact_table_end*/

@media screen and (min-width: 375px) {
  .mobile__nav {
    display: flex;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #1b262f;
    gap: 44px;
    padding-top: 46.29px;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 50% 192px;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 55px;
    margin-right: 0;
  }

  .logo-footer {
    margin-right: 10px;
    margin-bottom: 11.97px;
    width: 135px;
    height: 38px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
  }

  .footer-twitter {
    filter: none;
    margin-top: 2.25px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}

@media screen and (min-width: 768px) {
  .mobile__nav{
    display: none;
  }
  .header__backround{
    background: none;
  }
  .circle__backround-style-contact{
    background-image: url(/assets/images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: 495px -450px;
  }
  .tablet_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 39.76px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 86.47px;
  }
  .logo_icon_tablet {
    width: 135px;
    height: 38px;
  }

  .tablet_nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-right: 20px;
  }

  .tablet_nav a {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0px;
    color: #36536b;
    opacity: 0.7;
  }

  .tablet_nav a:hover {
    color: #36536b;
  }
  .button_schedule-a-demo {
    font-family: "Public Sans";
    font-weight: 600;
    font-size: 15px;
    width: 173px;
    height: 48px;
    border-radius: 24px;
    opacity: 1;
    letter-spacing: -0.12px;
    color: #fbfcfe;
    opacity: 1;
    background: #ba4270 0% 0% no-repeat padding-box;
    border: none;
    box-shadow: 10px 10px 20px #36536B40;
  }
  
  .button_schedule-a-demo:hover {
    background: #da6d97 0% 0% no-repeat padding-box;
  }
  .contact-icons__grid {
      display: grid;
      place-items: center;
      justify-content: right;
      margin-right: 18%;
      gap: 40px 61px;
      grid-template-rows: 20px 60px 20px;
      grid-template-columns: 170px 70px 170px;
      margin-bottom: 10%;
      margin-top: 20px;
  }
  
  #big {
      display:inline-block;
  }

  #small {
      display: none;
  }

  h2 {
      color: #647b8e;
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 4;
      place-self: center start;
      margin-right: 30px;
  }

  .microsoft-size {
      height: 31px;
      width: 146px;
  }

  .tesla-size {
      height: 17px;
      width: 130px;
  }

  .grid_align-left {
      place-self: center start;
  }

  .hp-size {
      height: 27px;
      width: 141px;
  }

  .grid_align-right {
      place-self: center end;
  }

  .oracle-size {
      height: 17px;
      width: 132px;
  }

  .google-size {
      height: 33px;
      width: 97px;
  }

  .nvidia-size {
      height: 26px;
      width: 138px;
  }

  /*contact_table_start*/

  /*Form lenteles stylius*/

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-left: 162px;
    margin-right: 161px;
  }

  /*Form style*/

  input,
  textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #7a94ad;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 6px;
    font-size: 15px;
    color: #2c3e50;
  }

  input::placeholder,
  textarea::placeholder {
    text-align: left;
    font: normal normal 200 15px/25px Public Sans;
    letter-spacing: -0.12px;
    color: #36536B;
    opacity: 0.5;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-bottom-color: #2c3e50;
  }

  textarea {
    resize: none;
    height: 80px;
  }

  /*checkbox style*/

  .checkbox-text{
    color: #36536B;
    font-size: 15px;
    font-family: "Public Sans", Light;
    line-height: 25px;
  }

  .checkbox-row {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-row input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .custom-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #36536B40;
  }

  .checkbox-row:hover input ~ .custom-box {
    background-color: #36536B40;
  }

  .checkbox-row input:checked ~ .custom-box {
    background-color: #BA4270;
  }

  .custom-box:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-row input:checked ~ .custom-box:after {
    display: block;
  }

  .checkbox-row .custom-box:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*button style*/

  button {
    width: 152px;
    height: 48px;
    padding-left: 51px;
    padding-bottom: 15px;
    padding-right: 49px;
    padding-top: 16px;
    border-radius: 24px;
    border: 1px solid #36536B;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: -0.12px;
    text-align: center;
    opacity: 1;
    line-height: 17px;
    color: #36536B;
  }

  button:hover {
    background: #36536B;
    color: white;
  }

/*contact_table_end*/
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b262f;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 385px 20%;
    padding-top: 41px;
    padding-bottom: 0;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 40px;
    gap: 24px;
  }

  .logo-footer {
    width: 135px;
    height: 38px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 39.76px;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
    margin-top: 7px;
  }

  .footer-twitter {
    filter: none;
    margin-top: 8.5px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}

@media screen and (max-width: 768px) {
    .contact-page-header {
        margin-top: 80px;
        font-size: 48px;
        line-height: 56px;
        margin-left: 97px;
        margin-right: 98px;
        max-width: 573px;
        max-height: 178px;
        text-align: center;
    }

    .contact-icons__grid {
        display: grid;
        place-items: center;
        justify-content: center;
        gap: 40px 100px;
        grid-template-rows: 35px 45px 45px;
        grid-template-columns: 120px 45px 120px;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
    }

    h2 {
        text-align: center;
        color: #647b8e;
        grid-column-start: 1;
        grid-column-end: 4;
        place-self: center;
    }

    #big {
        display: none;
    }

    #small {
        display: inline-block;
    }

    .microsoft-size {
        height: 31px;
        width: 146px;
    }

    .tesla-size {
        height: 17px;
        width: 130px;
    }

    .hp-size {
        height: 27px;
        width: 141px;
    }

    .oracle-size {
        height: 17px;
        width: 132px;
    }

    .google-size {
        height: 33px;
        width: 97px;
    }

    .nvidia-size {
        height: 26px;
        width: 138px;
    }
}

@media screen and (max-width: 480px) {
    .contact-page-header {
        margin-top: 60px;
        font-size: 32px;
        line-height: 36px;
        margin-left: 24px;
        margin-right: 24px;
        max-width: 327px;
        max-height: 116px;
        text-align: center;
    }

    .contact-icons__grid {
        display: grid;
        place-items: center;
        justify-content: center;
        gap: 45px 90px;
        grid-template-rows: 80px 20px 20px 20px;
        grid-template-columns: 97px 97px;
        margin-top: 40px;
        margin-bottom: 0;
        margin-left: 0;
    }

    h2 {
        text-align: center;
        color: #647b8e;
        grid-column-start: 1;
        grid-column-end: 3;
        place-self: center;
    }
    
    #big {
        display: none;
    }

    #small {
        display: inline-block;
    }

    .microsoft-size {
        height: 26px;
        width: 120px;
    }

    .tesla-size {
        height: 14px;
        width: 106px;
    }

    .hp-size {
        height: 22px;
        width: 115px;
    }

    .oracle-size {
        height: 14px;
        width: 108px;
    }

    .google-size {
        height: 27px;
        width: 79px;
    }

    .nvidia-size {
        height: 21px;
        width: 113px;
    }
}

@media screen and (min-width: 1440px) {
  .circle__backround-style-contact{
    background-image: url(/assets/images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: 800px -500px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b262f;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 1000px -100px;
    padding-top: 41px;
    padding-bottom: 36px;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 165px;
    gap: 24px;
    padding-bottom: 0;
  }

  .logo-footer {
    width: 135px;
    height: 38px;
    margin-left: 164.76px;
    margin-right: 24.34px;
  }

  .desktop__style{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-left: 165px;
    margin-right: 125px;
    width: 445px;
}

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 39.76px;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
    margin-top: 7px;
  }

  .footer-twitter {
    filter: none;
    margin-top: 8.5px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}