@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  background-color: #EDF3F8;
}

.circle__backround-style-pricing{
  display: flex;
  justify-content: center;
  background-image: url(../images/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: -21% -635px ;
  flex-direction: column;
  justify-content: space-between;
}


.mobile__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 24.76px;
  margin-right: 24px;
  margin-top: 40.76px;
   margin-bottom: 51.47px;
}
.tablet_navigation {
  display: none;
}

.pricing-page-header {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 44px;
  color: #36536b;
}

.pricing-page-box {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;

  & .pricing-item {
    max-width: 327px;

    & .pricing-item__button {
      width: 100%;
      justify-content: center;
    }

    & .pricing-item__intro {
      text-align: center;

      & h3 {
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        color: #ba4270;

        margin-bottom: 0;
        margin-top: 0;
      }

      & h2 {
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
        color: #36536b;
        font-size: 56px;
        line-height: 72px;

        margin-bottom: 0;
        margin-top: 0;
      }

      & p {
        text-align: center;
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #6c8294;
        font-size: 15px;
        line-height: 28px;

        margin-top: 0.5rem;
      }
    }

    & .pricing-item__list {
      border-top: 1px solid rgba(54, 83, 107, 0.25);
      border-bottom: 1px solid rgba(54, 83, 107, 0.25);

      & ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 100px;
        padding: 0;

        & li {
          font-family: "Public Sans", sans-serif;
          font-weight: 300;
          font-style: normal;
          color: #6c8294;
          list-style: none;
          padding-left: 24px;
        }

        & #pricing-item__list-checkmark {
          font-weight: 300;
          color: #36536b;
          background: url("../images/shared/desktop/icon-check.svg") no-repeat left center;
        }
      }
    }

    & .pricing-item__button {
      margin-top: 24px;
      display: flex;

      & a {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #36536b;
        width: fit-content;
        border-radius: 2rem;
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        color: #36536b;

        &:hover {
          background-color: #36536b;
          color: #fbfcfe;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .mobile__nav {
    display: flex;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #1b262f;
    gap: 44px;
    padding-top: 46.29px;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 50% 192px;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 55px;
    margin-right: 0;
  }

  .logo-footer {
    margin-right: 10px;
    margin-bottom: 11.97px;
    width: 135px;
    height: 38px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
  }

  .footer-twitter {
    filter: none;
    margin-top: 2.25px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}

@media screen and (min-width: 768px) {
  .mobile__nav{
    display: none;
  }
  .header__backround{
    background: none;
  }
  .circle__backround-style-pricing{
    background-image: url(/assets/images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: 495px -450px;
  }

  .pricing-page-header {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 57px;
  }

  .pricing-page-box {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & .pricing-item {
      max-width: 223px;

      & .pricing-item__button {
        width: 100%;
        justify-content: center;
      }

      & .pricing-item__intro {
        text-align: center;

        & h3 {
          text-align: center;
          font-family: "DM Serif Display", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 24px;
          line-height: 32px;

          margin-bottom: 0;
          margin-top: 0;
        }

        & h2 {
          text-align: center;
          font-family: "DM Serif Display", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 48px;
          line-height: 72px;

          margin-bottom: 0;
          margin-top: 0;
        }

        & p {
          text-align: center;
          font-family: "Public Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 200;
          font-style: normal;
          font-size: 15px;
          line-height: 28px;

          margin-top: 0.5rem;
        }
      }

      & .pricing-item__list {
        margin-top: 33px;

        border-top: 1px solid rgba(54, 83, 107, 0.25);
        border-bottom: 1px solid rgba(54, 83, 107, 0.25);

        & ul {
          margin-top: 26px;
          margin-bottom: 31px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-left: 45px;
          padding: 0;

          & li {
            font-family: "Public Sans", sans-serif;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            list-style: none;
            padding-left: 24px;
          }

          & #pricing-item__list-checkmark {
            font-weight: 300;
            background: url("../images/shared/desktop/icon-check.svg") no-repeat left center;
          }
        }
      }

      & .pricing-item__button {
        margin-top: 24px;
        margin-bottom: 100px;
        display: flex;

        & a {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid #36536b;
          width: fit-content;
          border-radius: 2rem;
          font-family: "Public Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 600;
          font-style: normal;
          text-decoration: none;
        }
      }
    }
  }

  .tablet_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 39.76px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 86.47px;
  }
  

  .logo_icon_tablet {
    width: 135px;
    height: 38px;
    padding-top: 5px;
  }

  .tablet_nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-right: 20px;
  }

  .tablet_nav a {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0px;
    color: #36536b;
    opacity: 0.7;
  }

  .tablet_nav a:hover {
    color: #36536b;
  }
  .button_schedule-a-demo {
    font-family: "Public Sans";
    font-weight: 600;
    font-size: 15px;
    width: 173px;
    height: 48px;
    border-radius: 24px;
    opacity: 1;
    letter-spacing: -0.12px;
    color: #fbfcfe;
    opacity: 1;
    background: #ba4270 0% 0% no-repeat padding-box;
    border: none;
    box-shadow: 10px 10px 20px #36536B40;
  }
  
  .button_schedule-a-demo:hover {
    background: #da6d97 0% 0% no-repeat padding-box;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b262f;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 385px 20%;
    padding-top: 41px;
    padding-bottom: 0;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 40px;
    gap: 24px;
  }

  .logo-footer {
    width: 135px;
    height: 38px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 39.76px;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
    margin-top: 7px;
  }

  .footer-twitter {
    filter: none;
    margin-top: 8.5px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}

@media screen and (min-width: 1440px) {
.mobile__nav {
    display: none;
  }

.tablet_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 165.76px;
    margin-right: 165px;
    margin-top: 40px;
  }

  .logo_icon_tablet {
    width: 133.9px;
    height: 36.77px;
    padding-top: 5px;
  }

    .tablet_nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-right: 506px;
    margin-left: 64.34px;
  }

  .tablet_nav a {
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0px;
    color: #36536B;
    opacity: 0.7;
  }

  .tablet_nav a:hover {
    opacity: 1;
  }

  .button_schedule-a-demo {
    font-family: "Public Sans";
    font-weight: 600;
    font-size: 15px;
    width: 173px;
    height: 48px;
    border-radius: 24px;
    opacity: 1;
    letter-spacing: -0.12px;
    color: #fbfcfe;
    opacity: 1;
    background: #ba4270 0% 0% no-repeat padding-box;
    border: none;
    box-shadow: 10px 10px 20px #36536B40;
    cursor: pointer;
    padding-top: 16px;
    padding-right: 24.5px;
    padding-bottom: 15px;
    padding-left: 26.5px;
     display: flex;
  align-items: center;
  justify-content: center;
   white-space: nowrap;
  }

  .button_schedule-a-demo:hover {
    background: #da6d97 0% 0% no-repeat padding-box;
  }
  
  .circle__backround-style-pricing{
    background-image: url(/assets/images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: 800px -500px;
  }
  
  .pricing-page-header {
    text-align: left;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 60px;
    margin-left: 165px;
  }

  .pricing-page-box {
    margin-left: 165px;
    margin-right: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    & .pricing-item {
      max-width: 350px;

      & .pricing-item__button {
        width: 100%;
        justify-content: center;
      }

      & .pricing-item__intro {
        text-align: center;

        & h3 {
          text-align: left;
          font-family: "DM Serif Display", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 32px;
          line-height: 40px;

          margin-bottom: 0;
          margin-top: 0;
        }

        & h2 {
          text-align: left;
          font-family: "DM Serif Display", serif;
          font-weight: 400;
          font-style: normal;
          font-size: 56px;
          line-height: 72px;

          margin-bottom: 0;
          margin-top: 0;
        }

        & p {
          text-align: left;
          font-family: "Public Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 200;
          font-style: normal;
          font-size: 15px;
          line-height: 28px;

          margin-top: 0.5rem;
        }
      }

      & .pricing-item__list {
        margin-top: 5px;

        border-top: 1px solid rgba(54, 83, 107, 0.25);
        border-bottom: 1px solid rgba(54, 83, 107, 0.25);

        & ul {
          margin-top: 26px;
          margin-bottom: 31px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-left: 0px;
          padding: 0;

          & li {
            font-family: "Public Sans", sans-serif;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            list-style: none;
            padding-left: 24px;
          }

          & #pricing-item__list-checkmark {
            font-weight: 300;
            background: url("../images/shared/desktop/icon-check.svg") no-repeat left center;
          }
        }
      }

      & .pricing-item__button {
        margin-top: 24px;
        margin-bottom: 100px;
        display: flex;
        width: fit-content;

        & a {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid #36536b;
          width: fit-content;
          border-radius: 2rem;
          font-family: "Public Sans", sans-serif;
          font-weight: 600;
          font-style: normal;
          text-decoration: none;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b262f;
    background-image: url("../images/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 1000px -100px;
    padding-top: 41px;
    padding-bottom: 36px;
  }

  .footer_social-media__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 165px;
    gap: 24px;
    padding-bottom: 0;
  }

  .logo-footer {
    width: 135px;
    height: 38px;
    margin-left: 164.76px;
    margin-right: 24.34px;
  }

  .footer-hyperlinks {
    text-decoration: none;
    color: #b7bcc0;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
  }

  .footer-hyperlinks__alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 39.76px;
  }

  .footer-hyperlinks:hover {
    color: #ffffff;
  }

  .footer-socials {
    filter: none;
    margin-top: 7px;
  }

  .footer-twitter {
    filter: none;
    margin-top: 8.5px;
  }

  .footer-twitter:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }

  .footer-socials:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(31%) saturate(5000%)
      hue-rotate(297deg) brightness(93%) contrast(82%);
  }
}