/* Sponsors section: layout + mobile arc */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.sponsors {
  margin-top: 100px;
  background: #fbfcfe;
  padding: 80px 24px;
  box-sizing: border-box;
}
.sponsors__container {
  max-width: 1110px;
  margin: 0 auto;
}
.sponsors__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 43px 15px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.sponsors--dark {
  background: #1b2d3a;
  /* padding: 48px 24px; */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50dvw;
  margin-right: -50dvw;
  width: 100dvw;
  overflow: hidden;
}

.sponsors--dark .sponsors__panel,
.sponsors--dark .sponsors__list {
  position: relative;
  z-index: 1;
}

.sponsors__item img,
.sponsors__item svg {
  display: block;
  width: auto;
  opacity: 1;
}
.sponsors--dark .sponsors__item img,
.sponsors--dark .sponsors__item svg {
  opacity: 1;
  filter: brightness(0) invert(1);
}
.sponsor-img {
  width: 122px;
  height: auto;
}

.sponsors__panel { border: none; border-radius: 12px; color: #FBFCFE; background: transparent; }
.sponsors__panel { margin-top: 32px; }
.sponsors__title { 
  font-family: "DM Serif Display", serif;
  color: #FBFCFE; 
  font-weight: 400; 
  font-size: 28px; 
  line-height: 1.2; 
  text-align: center;
  margin: 0 0 12px;
  margin-top: 59px; 
  }
.sponsors__lede {
  text-align: center;
  font: normal normal 200 15px/28px Public Sans;
  letter-spacing: 0px;
  color: #FBFCFE;
  opacity: 0.7;
}
.sponsors__cta { 
  display: block; 
  width: fit-content; 
  padding: 12px 20px; 
  border-radius: 24px; 
  border: 2px solid rgba(251,252,254,0.6); 
  color: #FBFCFE; 
  text-decoration: none; 
  font-family: "Public Sans", sans-serif; 
  font-weight: 700; 
  font-size: 15px;
  line-height: 17px;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
}
.sponsors__cta:hover { border-color: #FBFCFE; background-color: #FBFCFE; color: #1B2D3A; }

/* Mobile arc */
@media (max-width: 767px) {
  .sponsors--dark {
    background-image: none;
  }
  .sponsors--dark::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 6px));
    top: -196px;
    width: 1280px;
    height: 640px;
    background-image: url(/assets/images/shared/mobile/curve-top-large.svg);
    background-repeat: no-repeat;
    background-position: 50% -425px;
    
    pointer-events: none;
    z-index: 0;
  }
}

/* Tablet/Desktop spacing */
@media (min-width: 768px) {
  .sponsors {
    padding: 88px 116px;
  }
  .sponsors__list {
    justify-content: center;
    gap: 43px 56px;
  }
  .sponsors__list {
    margin-bottom: 40px;
  }
  .sponsor-img {
    width: 142px;
    height: auto;
  }
  .sponsors__panel { 
    margin-top: 40px;
  }
  .sponsors--dark { 
    background-image: none;
    }
  .sponsors--dark::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 6px));
    top: -196px;
    width: 1280px;
    height: 640px;
    background-image: url(/assets/images/shared/mobile/curve-top-large.svg);
    background-repeat: no-repeat;
    background-position: 50% -390px;
    pointer-events: none;
    z-index: 0;
  }
  .sponsors__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 43px 36px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .sponsors__title{
    margin-top: 70px;
    font-size: 48px;
    line-height: 56px;
    margin-left: auto;
    margin-right: auto;
    width: 457px;
    height: 66px;
  }
  .sponsors__lede{
    font-size: 15px;
    line-height: 28px;
    width: 457px;
    height: 101px;
    margin-left: auto;
    margin-right: auto;
  }
  .sponsors__cta{
    margin-top: 43px;
  }
}
@media (min-width: 1440px) {
  .sponsors__container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-items: center;
    gap: 131px;
  }
  .sponsors--dark { 
    background-image: none; 
    padding: 0;
  }
  .sponsors--dark::before {
    content: "";
    position: absolute;
    left: 750px;
    transform: translateX(calc(-50% - 150px));
    top: 0px;
    width: 1280px;
    height: 640px;
    background-image: url(/assets/images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: -200px -375px;
    pointer-events: none;
    z-index: 0;
  }
  .sponsors {
    padding-left: 165px;
    padding-bottom: 100px;
    padding-right: 163px;
    padding-top: 106px;
  }
  .sponsors__list {
    justify-content: center;
    gap: 43px 64px;
  }
  .sponsors__list {
    margin-bottom: 84px;
    margin-top: 79px;
  }
  .sponsor-img {
    width: 166px;
    height: auto;
  }
  .sponsors--dark .sponsors__list {
    max-width: 612px;
    gap: 43px 60px;
  }
  .sponsors__panel {
    margin: 0;
  }
  .sponsors__title{
    margin: 0;
    text-align: left;

  }
  .sponsors__lede{
    text-align: left;
    margin: 0;
  }
  .sponsors__cta{
    margin: 0;
    margin-top: 43px;
    width: 89px;
    text-align: center;
    
  }
}