.section__article-finance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 480px){
    .section__article-finance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}
}
@media screen and (min-width: 768px){
    .section__article-finance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
}
}

